<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PgTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckEmailServlet</display-name>
		<servlet-name>CheckEmailServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.CheckEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckEmailServlet</servlet-name>
		<url-pattern>/checkEmail</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckUsernameServlet</display-name>
		<servlet-name>CheckUsernameServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.CheckUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUsernameServlet</servlet-name>
		<url-pattern>/checkUsername</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetUserInfoServlet</display-name>
		<servlet-name>GetUserInfoServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.GetUserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserInfoServlet</servlet-name>
		<url-pattern>/getUserInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateUserInfoServlet</display-name>
		<servlet-name>UpdateUserInfoServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.UpdateUserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserInfoServlet</servlet-name>
		<url-pattern>/updateUserInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetAllTestServlet</display-name>
		<servlet-name>GetAllTestServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.GetAllTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllTestServlet</servlet-name>
		<url-pattern>/getAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetRandomTestServlet</display-name>
		<servlet-name>GetRandomTestServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.GetRandomTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRandomTestServlet</servlet-name>
		<url-pattern>/getRandomTest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetRankingServlet</display-name>
		<servlet-name>GetRankingServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.GetRankingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRankingServlet</servlet-name>
		<url-pattern>/getRanking</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SaveResultServlet</display-name>
		<servlet-name>SaveResultServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.SaveResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveResultServlet</servlet-name>
		<url-pattern>/saveResult</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdatePasswordServlet</display-name>
		<servlet-name>UpdatePasswordServlet</servlet-name>
		<servlet-class>com.eachwang.pg.servlet.UpdatePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePasswordServlet</servlet-name>
		<url-pattern>/updatePassword</url-pattern>
	</servlet-mapping>
</web-app>